*.iml
.gradle
/local.properties
/.idea
/app/release
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/res/raw/*
*.so

# Arquivos de backup
*_backup
*_backup.*

# Testes
/tests
*_test
*_test.*

# Documentação
/docs
