<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030000" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:isGame="true"
        android:appCategory="game"
        android:hardwareAccelerated="true"
        android:name=".RevengerApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/conf_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        
        <!-- SplashActivity - Entry point with CRT animation -->
        <activity android:name=".views.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Revenger.Splash"
            android:configChanges="orientation|screenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- GameActivity - Main emulator -->
        <activity android:name=".views.GameActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode">
        </activity>
    </application>
</manifest>